@page
@model WebAssForUna.Pages.sampleModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>sample</title>
</head>
<body>
    <h1> Get this to gitHub</h1>
</body>
</html>
